# Maven specific
/target/
pom.xml.versionsBackup

# IntelliJ IDEA specific
*.iml
/.idea/

# VS Code specific
.vscode/

# Apache Derby specific
/derby.log

# JVM crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


src/main/resources/properties
../../../../../../resources/properties
src/main/resources/properties/config.properties

/db/